<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" doc="The robot controller's IP address" value="169.254.145.7"/>

  <!-- ============================================================================================================= -->
  <!-- Robot Web Services (RWS) related components.                                                                  -->
  <!-- ============================================================================================================= -->

  <!-- RWS state publisher (i.e. general states about the robot controller) -->
  <include file="$(find abb_rws_state_publisher)/launch/rws_state_publisher.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <!-- RWS service provider (i.a. starting/stopping the robot controller's RAPID execution) -->
  <include file="$(find abb_rws_service_provider)/launch/rws_service_provider.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <!-- EGM hardware interface (i.e. 'ros_control'-based interface for interacting with mechanical units) -->
  <include file="$(find abb_egm_hardware_interface)/launch/egm_hardware_interface.launch">
    <arg name="base_config_file" value="$(find abb_irb120_egm_interface)/config/hardware_base.yaml"/>
    <arg name="egm_config_file" value="$(find abb_irb120_egm_interface)/config/hardware_egm.yaml"/>
  </include>

  <!-- AQUI LA DESCRIPCION DEL NUEVA  -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find abb_irb120)/urdf/irb120.xacro'" />
  <!-- Put 'ros_control' components in the "egm" namespace (to match the hardware interface) -->
  <group ns="egm">
    <!-- Load configurations for 'ros_control' controllers on the parameter server -->
    <rosparam file="$(find abb_irb120_egm_interface)/config/controllers.yaml" command="load"/>

    <!-- Two 'ros_control' controller spawners (stopped for the controller that command motions) -->
    <node pkg="controller_manager" type="spawner" name="started" args="egm_state_controller joint_state_controller"/>
    <node pkg="controller_manager" type="spawner" name="stopped3" args="--stopped joint_trajectory_controller"/>
  </group>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  			respawn="false" output="screen">
  			<remap from="/joint_states" to="/egm/joint_states" />
  </node>

</launch>
